
<h3>Your Shopping Cart</h3>
<div class="col-sm-12 col-md-10 col-md-offset-1" *ngIf="shoppingCarts">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shoppingCart of shoppingCarts; let i=index">
                <td class=" col-md-6">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#"> <img style="max-width: 100px;max-height: 100px" class="media-object" [src]="shoppingCart.imageLink"> </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{shoppingCart.productName}}</a></h4>
                        </div>
                    </div>
                  </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                      <input type="number" class="form-control" id="exampleInputEmail1" [value]="shoppingCart.quantity" (input)="onChange($event.target.value,i)">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{shoppingCart.productPrice}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{shoppingCart.productPrice*shoppingCart.quantity}}</strong></td>
                    <td class="col-sm-1 col-md-1">
                    <button (click)="onRemove(i)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                  </td>

                </tr>
            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td><h3>Total</h3></td>
                <td class="text-right"><h3><strong>{{sumPrice}}</strong></h3></td>
            </tr>
        </tbody>
    </table>
</div>
