<div class="col-xs-6 col-md-3">
   <!-- First product box start here-->
    <div class="prod-info-main prod-wrap clearfix">

      <div class="row">

        <div class="col-md-5 col-sm-12 col-xs-12">

          <div class="product-image" >

            <img style="max-width: 100%;max-height: 100%" [src]="product.imageLink" class="img-responsive">
          </div>

        </div>

        <div class="col-md-7 col-sm-12 col-xs-12">

          <div class="product-deatil">

            <h5 class="name">

              <a href="#">{{product.productName}}</a>

              <a href="#"><span>{{product.productCategory}}</span></a>
            </h5>
            <p class="price-container">

              <span>{{product.productPrice}}</span>

            </p>

            <span class="tag1"></span>

          </div>

          <div class="description">

            <p>{{product.description}}</p>

          </div>

          <div class="product-info smart-form">

            <div class="row">

              <div class="col-md-12">

                <a style="cursor: pointer;" (click)="onAddShoppingCart(product)" class="btn btn-danger">Add to cart</a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <!-- end product -->

  </div>

